{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'empresa/css/empresa.css' %}" rel="stylesheet">
    
{% endblock%}


{% block 'body' %}
 
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}    
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{empresa.logo.url}}">
            </div>

            <div class="col-md">
                <h1 class="titulo">{{empresa.nome}}</h1>
                <p class="paragrafo">{{empresa.endereco}}</p>
            </div>



        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Nicho de mercado:</label>
                <input disabled type="text" class="form-control" value="{{empresa.get_nicho_mercado_display}}">

            </div>

            <div class="col-md-3">
                <label>Tecnologias usadas:</label>
                
                <select class="form-select">   
                {% for tech in empresa.tecnologias.all %}
                    <option>{{tech}}</option>
                {% endfor %}
                </select>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7">
                <label>Características da empresa:</label>
                <textarea disabled class="form-control">{{empresa.caracteristica_empresa}}</textarea>            
            </div>

            <div class="col-md-3">
                
                
            </div>
        </div>

        <hr>

        <a class="btn btn-lg btn-orange">Nova vaga</a>

        <div class="row">
            vagas
        </div>

    </div>
    <br>
    <br>

{% endblock %}